.chessboard {
    float: left;
    width: 1000px;
    height: 1000px;
    margin: 10px;
    border: 15px solid #333;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    display: flex;
}
.black {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #999;
      font-size:55px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.white {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size:55px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.movelist {
  overflow-y: scroll;
  height: 600px;
  align-items: right;
  background-color: #d3dff9;
  border: 10px solid #333;
  float :left;
  width: 30% ;
}
.move{
    font-size:20px;
    border: 2px solid #333;
}

.EngineSug{
  overflow-y: scroll;
  display: block;
  height: 200px;
  align-items: right;
  background-color: #d3dff9;
  border: 10px solid #333;
  float :left;
  width: 30% ;
}
