.chessboard {
    float: left;
    width: 60%;
    height: 1200px;
    margin: 20px;
    border: 25px solid #333;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    display: flex;
}
.black {
    float: left;
    width: 120px;
    height: 120px;
    background-color: #999;
      font-size:60px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.white {
    float: left;
    width: 120px;
    height: 120px;
    background-color: #fff;
    font-size:60px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.movelist {
  align-items: right;
  background-color: #d3dff9;
  border: 10px solid #333;
  float :left;
  width: 30% ;
}
.move{
    font-size:25px;
    border: 1px solid #333;
}
